@import "../../styles/variables.shared";

body {
  background: url(../../images/kites-darts-o.svg) no-repeat fixed top left;
  background-color: var(--color-background);
  background-size: cover;
  color: var(--color-text);
  transition: color $darkModeTransitionDuration,
    background-color $darkModeTransitionDuration;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
